<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="cat" value="android duilib iot lua other program python read web js myjob job" />
        <add key="tag" value="android python c++ c# job duilib duidesigner ui hook xposed lua AndroidStudio ndk llvm" />
        <add key="_posts" value="F:\bigsinger\bloggithub\trunk\_posts" />
    </appSettings>
</configuration>