<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="cat" value="springboot sec android duilib iot lua other program golang python read web JavaScript myjob job" />
        <add key="tag" value="JavaScript springboot android python mfc c++ c# golang job duilib duidesigner ui hook xposed lua AndroidStudio VisualStudio driver ndk llvm" />
        <add key="_posts" value="F:\bigsinger\bloggithub\trunk\_posts" />
    </appSettings>
</configuration>